:root {
    --whatsapp-green: #005e54;
    --whatsapp-dark-green: #005e52;
    --whatsapp-light-green: #038a7c;
    --chat-input-height: 50px;
}

/* Color styles */

body header nav {
    background-color: #005e54;
}

body button, .btn {
    background-color: var(--whatsapp-green);
    border-color: var(--whatsapp-green);
}

body button:hover, .btn:hover {
    background-color: var(--whatsapp-light-green);
    border-color: var(--whatsapp-dark-green);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background: url("~/../../img/chat-background.jpg") repeat;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    flex-shrink: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.chat {
    flex: 1;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-y: auto;
}

/* Messages table */

.table-wrapper {
    overflow-x: auto; /* Прокрутка по горизонтали, если таблица шире контейнера */
}

.table-wrapper .table {
    width: 100%;
    background-color: white;
}

.pagination .active .page-link {
    background-color: var(--whatsapp-light-green);
    color: white;
    border-color: var(--whatsapp-dark-green);
}
/* Base style for pagination links */
.pagination .page-link {
    color: var(--whatsapp-dark-green);
}

#pageSizeSelect {
    width: 50px
}

/* User list in Messages */
.users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.user-link {
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-link:hover {
    background-color: #e2e2e2;
}

/* Chat */
.chat {
    height: calc(90%);
    align-items: center;
}

.chat-container {
    height: 100%;
}

/* User Bar */

.user-bar {
    height: 55px;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    width:100%;
    z-index: 1;
}

.user-bar:after {
    content: "";
    display: table;
    clear: both;
}

.user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.user-bar .name {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
}

.user-bar .enter-chat {
    font-size: 17px;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    color: #005e54;
}

.user-bar .bar-button {
    float: right;
    text-overflow: ellipsis;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
}

.user-bar .bar-button-right {
    right:0;
    text-overflow: ellipsis;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
}

.user-bar .account {
    float: right;
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
}

.user-bar .account .status {
    float: right;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
}

.user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
}

/* Conversation */

.conversation ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
    background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
    background: #b3ada7;
}

.conversation .conversation-container {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 16px;
    margin-bottom: 5px;
    position: relative;
    height: calc(100% - 25px);
}

.conversation form {
    position:fixed;
    bottom:0
}

/* Messages */

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    word-wrap: break-word;
    z-index: -1;
    max-width: 85%;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.message .sender
{
    display:block;
    font-weight: 600;
    margin-bottom: 5px
}

.metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
}

.metadata .tick {
    display: inline-block;
    margin-left: 2px;
    position: relative;
    top: 4px;
    height: 16px;
    width: 16px;
}

.metadata .tick svg {
    position: absolute;
    transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(180deg);
    transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
    -webkit-transform: perspective(800px) rotateY(0);
    transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
    -webkit-transform: perspective(800px) rotateY(-179.9deg);
    transform: perspective(800px) rotateY(-179.9deg);
}

.message:first-child {
    margin: 16px 0 8px;
}

.message.error {
    background: #d8a7a7;
    width: 100%;
    max-width: 100%;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 20pt;
}
.message.error::after {
    border-style: none;
}

.message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
}

    .message.received .metadata {
        padding: 0 0 0 16px;
    }

    .message.received:after {
        border-width: 0px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
        top: 0;
        left: -10px;
    }

.message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
}

.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #e1ffc7;
    top: 0;
    right: -10px;
}

/* Compose */

.conversation-compose {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: var(--chat-input-height);
    width: 100%;
    z-index: 2;
}

    .conversation-compose div,
    .conversation-compose input {
        background: #fff;
        height: 100%;
    }

    .conversation-compose .emoji {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 5px 0 0 5px;
        flex: 0 0 auto;
        margin-left: 8px;
        width: 48px;
    }

    .conversation-compose .input-msg {
        border: 0;
        padding-left: 1%;
        flex: 1 1 auto;
        font-size: 16px;
        margin: 0;
        outline: none;
        min-width: var(--chat-input-height);
    }

    .conversation-compose .photo {
        flex: 0 0 auto;
        border-radius: 0 0 5px 0;
        text-align: center;
        position: relative;
        width: 48px;
    }

        .conversation-compose .photo:after {
            border-width: 0px 0 10px 10px;
            border-color: transparent transparent transparent #fff;
            border-style: solid;
            position: absolute;
            width: 0;
            height: 0;
            content: "";
            top: 0;
            right: -10px;
        }

        .conversation-compose .photo i {
            display: block;
            color: #7d8488;
            font-size: 24px;
            transform: translate(-50%, -50%);
            position: relative;
            top: 50%;
            left: 50%;
        }

    .conversation-compose .send {
        background: transparent;
        border: 0;
        cursor: pointer;
        flex: 0 0 auto;
        margin-left: 8px;
        margin-right: 8px;
        padding: 0;
        position: relative;
        outline: none;
    }

        .conversation-compose .send .circle {
            background: #008a7c;
            border-radius: 50%;
            color: #fff;
            position: relative;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.conversation-compose .send .circle i {
    font-size: 20px;
    margin-left: -5px;
}

/* Small Screens */

@media (max-width: 768px) {
    .marvel-device.nexus5 {
        border-radius: 0;
        flex: none;
        padding: 0;
        max-width: none;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .marvel-device > .screen .chat {
        visibility: visible;
    }

    .marvel-device {
        visibility: hidden;
    }

        .marvel-device .status-bar {
            display: none;
        }

    .screen-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .conversation {
        height: calc(100vh - 55px);
    }

        .conversation .conversation-container {
            height: calc(100vh - 120px);
        }
}

/* Toast message */
.toast {
    visibility: hidden; /* Hidden by default */
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--whatsapp-light-green);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

/* Show the toast, change visibility to visible and add fade-in effect */
.show {
    visibility: visible;
    -webkit-animation: fadeInBottom 0.5s, fadeOutBottom 2.5s 2.5s;
    animation: fadeInBottom 0.5s, fadeOutBottom 2.5s 2.5s;
}

@-webkit-keyframes fadeInBottom {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeOutBottom {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeOutBottom {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}