@model WebsocketChat.Library.Models.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div role="alert" class="alert alert-danger">
        <h1><strong>Error</strong></h1>
        <h4 id="errorMessage">@Model.ErrorMessage</h4>
    </div>
    <br>
    <div>
        @Html.ActionLink("Return", "Index", "Home", htmlAttributes: new { @class = "btn btn-outline-secondary" })
    </div>
</body>
</html>